/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dashboard
 *= require welcome
 *= require_tree .
 *= require_self
 */

 /* Styles for navbar */
 .navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand:hover {
  color: #0056b3;
  background-color: #e8f4fd;
  border-radius: .25rem;
}

/* Logout button */
.btn-danger {
  transition: background-color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-danger:not(:disabled):not(.disabled).active, 
.btn-danger:not(:disabled):not(.disabled):active, 
.show>.btn-danger.dropdown-toggle {
  background-color: #c82333;
  border-color: #bd2130;
}


 .completed {
  text-decoration: line-through;
}
.mark-as-complete-button.completed {
  text-decoration: none;
}

/* Overall form styling */
form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form controls */
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style for the submit button */
.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Style for displaying validation errors */
.form-errors {
  color: red;
  margin-bottom: 20px;
}

/* Style for the placeholder */
::placeholder {
  color: #bbb;
}

.custom-flash-message {
  color: red;
  margin-bottom: 20px;
}


