/* categories.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(33.333% - 16px); /* Three cards per row with 16px gap */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background: white;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .card-actions {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-edit {
    background-color: #ffc107;
  }
  
  
  .fa-icon {
    margin-right: 8px;
  }
  

.btn-edit:hover {
    background-color: #4CAF50;
  }
  
.btn-edit:hover {
    background-color: #4CAF50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  }
  

.btn-delete:hover {
    background-color: #F44336; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.fa-icon:hover {
    color: #dddddd;
  }

  /* Show styling */

  .category-show-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .category-show-container .btn-view-tasks {
    white-space: nowrap;
  }
  

.category-show-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.category-show-container h1, .category-show-container p {
  margin-bottom: 20px;
}

.category-show-container .btn {
  margin-top: 10px;
  display: inline-block;
}

.btn-back {
    background-color: #007bff;
  }

.btn-new-task {
    background-color: #28a745;
  }

.fa-edit-header {
    color: #ffc107;
  }
  
  